%button {
  border: 2px solid var(--success);
  background-color: var(--success);
  color: #fff;
  &:hover {
    color: var(--success);
    background-color: #fff;
  }
}

.blue {
  .navbar {
    background: url("images/menu.png") repeat-x;
  }
  .grid-body {
    article {
      box-shadow: none;
  
      h3 {
        background: url("images/label.png") repeat-y;
        border: none;
        text-transform: initial;
        font-weight: 400;
      }
  
      button {
        @extend %button;
      }
  
      ul {
        margin-top: -22.5px;
        margin-left: 7.5px;
        box-shadow: 0 0 3px 1px rgb(0 0 0 / 20%);
        padding: 22.5px 0 1.5px;
      }
  
      li {
        border: none;
        color: #337ab7;
        margin: 7.5px;
        border-radius: 5px;
        padding: 7.5px;
        background-color: #fff;
  
        &:hover {
          color: #0052ab;
          text-decoration: none;
          background: #eee;
        }
      }
  
    }
  
    main {
      h1 {
        background: url("images/menu.png") repeat-x;
        border-radius: 5px;
      }
  
      button {
        @extend %button;
      }
    }
  }
  
  footer {
    background-color: #0d72b1;
  }
}