@media (max-width: 996px) {
  .grid-body {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 5fr;

    .aside-one {
      grid-row: 2;
    }

    .main {
      grid-row: 1;
      grid-column: 1/3;
    }

    .aside-two {
      grid-row: 2;
    }
  }
}