@media (max-width: 1200px) {
   .header {
     .accessibility {
       justify-content: flex-start;
       padding: 5px 10px;
       position: relative;
       bottom: 0;
       left: 0;
     }
   }
}